html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h3, h4 {
	margin: 0;
}

h1 {
	font-size: 3em;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 0em 1em;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.accent {
	color: #00CECB;
}

.right {
	float: right;
}

.left {
	float: left;
}

#nav-link-container {
	padding: 1em 5em;
}

nav {
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	border-top: 0.2em solid #00CECB;
	transition: all 1.4s ease;
}

nav.nav-sticky {
	position: fixed;
}

#nav a {
	padding: 0.7em;
}

#contact-button {
	background: white;
	color: black;
	padding: 0.7em;
	border-radius: 2px;
}

.parallax { 
    height: 100vh; 
    background-image: url("images/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

#title-container {
	padding-top: 40vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#about-container {
	background: #FFFFFF;
	padding: 5em 5em;
}

#about-me-summary {
	color: #616668;
}

.header-container {
	padding: 0.5em 1em;
	margin-bottom: 2em;
	border-left: 0.4em solid #00CECB;
	font-family: 'Roboto', sans-serif;
}

.header-container h2 {
	margin: 0;
}

#me-column {
	width: 45%;
	display: inline-block;
}

#skills-column {
	width: 45%;
	display: inline-block;
	float: right;
}

#portfolio-container {
	padding: 5em;
	background: #F7F7F7;
	text-align: center;
	height: 100%;
}

#portfolio-container h1 {
	margin-bottom: 1em;
}

#portfolio-card-weather {
	height: 30em;
	width: 80%;
	background: url("images/weather.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#portfolio-card-quote {
	height: 30em;
	width: 80%;
	background: url("images/quote.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#portfolio-card-whatshouldidotoday {
	height: 30em;
	width: 80%;
	background: url("images/whatshouldidotoday.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#portfolio-card-lamingtonlabs {
	height: 30em;
	width: 80%;
	background: url("images/lamingtonlabs.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#portfolio-card-qut {
	height: 30em;
	width: 80%;
	background: url("images/qut.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#portfolio-card-pingme {
	height: 30em;
	width: 80%;
	background: url("images/pingme.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#contact-container {
	background: #FFFFFF;
	text-align: center;
	padding: 10em;
}

#contact-container h1 {
	margin-bottom: 0.5em;
}

#contact-container p {
	margin-top: 1em;
	font-size: 1em;
}

#copyright {
	display: inline-block;
	float: left;
	color: #50514F;
}

#social-media-container {
	display: inline-block;
	font-size: 2em;
	text-align: center;
	width: 100%;
}

footer {
	height: 5em;
	background: #252524;
	line-height: 5em;
	color: white;
	padding: 0em 5em;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

footer a {
	padding: 0;
}

footer a:hover {
	color: #00CECB;
}