html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h3, h4 {
	margin: 0;
}

h1 {
	font-size: 3em;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 0em 1em;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.accent {
	color: #00CECB;
}

.right {
	float: right;
}

.left {
	float: left;
}

#nav-link-container {
	padding: 1em 5em;
}

nav {
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	border-top: 0.2em solid #00CECB;
	transition: all 1.4s ease;
}

nav.nav-sticky {
	position: fixed;
}

#nav a {
	padding: 0.7em;
}

#contact-button {
	background: white;
	color: black;
	padding: 0.7em;
	border-radius: 2px;
}

.parallax { 
    height: 100vh; 
    background-image: url("images/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

#title-container {
	padding-top: 40vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#about-container {
	background: #FFFFFF;
	padding: 5em 5em;
}

#about-me-summary {
	color: #616668;
}

.header-container {
	padding: 0.5em 1em;
	margin-bottom: 2em;
	border-left: 0.4em solid #00CECB;
	font-family: 'Roboto', sans-serif;
}

.header-container h2 {
	margin: 0;
}

#me-column {
	width: 45%;
	display: inline-block;
}

#skills-column {
	width: 45%;
	display: inline-block;
	float: right;
}

#portfolio-container {
	padding: 5em;
	background: #F7F7F7;
	text-align: center;
	height: 100%;
}

#portfolio-container h1 {
	margin-bottom: 1em;
}

.portfolio-card {
	height: auto;
	width: 80%;
	margin: 1em;
	display: inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.portfolio-info-container {
	text-align: left;
	padding: 1em;
	font-size: 0.9em;
}

.portfolio-info-container a {
	color: black;
	padding: 0;
}

.tech-used {
	float: right;
}

#weather-img {
	background: url("images/weather.png");
	background-size: 100%;
	height: 30em;
}

#quote-img {
	background: url("images/quote.png");
	background-size: 100%;
	height: 30em;
}

#whatshouldidotoday-img {
	background: url("images/whatshouldidotoday.png");
	background-size: 100%;
	height: 30em;
}

#lamingtonlabs-img {
	background: url("images/lamingtonlabs.png");
	background-size: 100%;
	height: 30em;
}

#qut-img {
	background: url("images/qut.png");
	background-size: 100%;
	height: 30em;
}

#pingme-img {
	background: url("images/pingme.png");
	background-size: 100%;
	height: 30em;
}

#contact-container {
	background: #FFFFFF;
	text-align: center;
	padding: 10em;
}

#contact-container h1 {
	margin-bottom: 0.5em;
}

#contact-container p {
	margin-top: 1em;
	font-size: 1em;
}

#copyright {
	display: inline-block;
	float: left;
	color: #50514F;
}

#social-media-container {
	display: inline-block;
	font-size: 2em;
	text-align: center;
	width: 100%;
}

footer {
	height: 5em;
	background: #252524;
	line-height: 5em;
	color: white;
	padding: 0em 5em;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

footer a {
	padding: 0;
}

footer a:hover {
	color: #00CECB;
}

/*********** Media Queries ***********/

@media only screen and (max-width: 700px) {
	nav {
		font-size: 0.8em;
		padding: 0;
	}

	#contact-button {
		padding: 0;
	}

	#title-container h1 {
		font-size: 2em;
	}

	#title-container h3 {
			font-size: 0.7em;
	}

	#about-container {
		overflow: auto;
		padding: 5em 2em;
	}

	#me-column {
		display: inline;
		margin-right: 0;
	}

	#skills-column {
		display: inline;
		float: left;
		width: auto;
		margin-top: 1.5em;
	}

	#portfolio-container {
		padding: 2em 0em;
	}

	#portfolio-container h1 {
		font-size: 2em;
	}

	.portfolio-card {
		height: auto;
		width: 80%;
		margin: 1em;
		display: inline-block;
	}

	.portfolio-info-container {
		padding: 1em;
		font-size: 0.8em;
	}

	#weather-img {
		height: 10em;
	}

	#quote-img {
		height: 10em;
	}

	#whatshouldidotoday-img {
		height: 10em;
	}

	#lamingtonlabs-img {
		height: 10em;
	}

	#qut-img {
		height: 10em;
	}

	#pingme-img {
		height: 10em;
	}

	#contact-container {
		padding: 7em 2em;
	}

	#contact-container h1 {
		margin-bottom: 0.5em;
		font-size: 1.5em;
	}

	#contact-container h3 {
		font-size: 0.8em;
	}

	#contact-container p {
		margin-top: 1em;
		font-size: 0.7em;
	}

	#social-media-container {
		font-size: 1.5em;
	}

}

@media only screen and (min-width: 701px) and (max-width: 1150px) {

	nav {
		font-size: 1.3em;
	}

	#title-container h3 {
		font-size: 1.5em;
	}

	#title-container h1 {
		font-size: 3.8em;
	}

	#about-container {
		padding: 3em;
	}

	#portfolio-container {
		padding: 3em 2em;
	}

	#weather-img {
		height: 18em;
	}

	#quote-img {
		height: 18em;
	}

	#whatshouldidotoday-img {
		height: 18em;
	}

	#lamingtonlabs-img {
		height: 18em;
	}

	#qut-img {
		height: 18em;
	}

	#pingme-img {
		height: 18em;
	}

}
